<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
</head>
<body>
    <!--Display Variable -->
    <%= name.toUpperCase() %>

    <!-- Conditional Statement  -->
     <% if(userId === 20) { %>
        <h1>Welcome User</h1>}
        <% } %>

        <!-- Loops In ejs -->
         <% for( let i=0 ;i <5 ;i++) { %>
          <h1><%= i %></h1>  
        
        <% } %>
</body>
</html>